{% extends 'base.html.twig' %}

{% block title %}Mes événements{% endblock %}

{% block body %}
<div class="custom-container">
    <h2>MES ÉVÈNEMENTS</h2>
    <div class="event-cards">
            {% for event in events %}
            <div class="event-card">
                <a href="{{ path('app_event_show', {'id': event.id}) }}">
                    <h3>{{ event.title }}</h3>
                    <div> {{event.category.name}}</div>
                    <div> Organisé par {{event.organisator.firstName}} {{event.organisator.lastName}}</div>
                    <div> {{event.place}}</div>
                    <time> Du {{ event.startDate ? event.startDate|date('j F Y H:i') : '' }} </time>
                    <time> au {{ event.endDate|date(format = 'j F Y H:i') }} </time>
                </a>
                <div class="event-management">
                    <a href="{{ path('app_myevent_delete', {'id': event.id}) }}" title="Supprimer">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <a href="{{ path('app_myevent_edit', {'id': event.id}) }}" title="Modifier">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}
