{% extends 'base.html.twig' %}

{% block title %}Admin - Événements {% endblock %}

{% block body %}
<div class="custom-container">
    <h1>Événements</h1>

    <div class="events-admin">
        <div class="event-cards">
        {% for event in events %}
            {% if not event.isPrivate %}
                <div class="event-card">
                    <div class="event-title">{{ event.title }}</div>
                    <div> Organisateur : {{event.organisator.firstName}} {{event.organisator.lastName}}</div>
                    <div> Catégorie : {{event.category.name}}</div>
                    <div> Lieu : {{event.place}}</div>
                    <div> Date de début : {{ event.startDate ? event.startDate|date('d/m/Y à H\\hi') : '' }} </div>
                    <div> Date de fin : {{ event.endDate|date('d/m/Y à H\\hi') }} </div>
                    <div> Evènement privé : {{ event.isPrivate ? 'Oui' : 'Non' }} </div>
                    {% if event.isFinancialParticipation %}
                        <div> Participation financière : {{ event.financialParticipationAmount }}</div>
                    {% else %}
                        <div> Participation financière : Non </div>
                    {% endif %}
                    <a href="{{ path('app_myevent_edit', {'id': event.id}) }}">Modifier</a>
                    <a href="{{ path('app_myevent_edit', {'id': event.id}) }}">Supprimer</a> 
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    {# <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Privé ?</th>
                <th>Participation financière</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.isPrivate ? 'Yes' : 'No' }}</td>
                <td>{{ event.isFinancialParticipation ? 'Yes' : 'No' }}</td>
                <td>{{ event.financialParticipationAmount }}</td>
                <td><a href="{{ path('app_event_show', {'id': event.id}) }}">show</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun événement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}
</div>

{% endblock %}
