{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>IsPrivate</th>
                <th>IsFinancialParticipation</th>
                <th>FinancialParticipationAmount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.isPrivate ? 'Yes' : 'No' }}</td>
                <td>{{ event.isFinancialParticipation ? 'Yes' : 'No' }}</td>
                <td>{{ event.financialParticipationAmount }}</td>
                <td>
                    <a href="{{ path('app_admin_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_admin_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
