{% extends 'base.html.twig' %}

{% block title %}Admin - Événements{% endblock %}

{% block body %}
<div class="custom-container">
    <h1>Événements</h1>

    <section class="events-admin">
        <div class="event-cards">
        {% for event in events %}
            {% if not event.isPrivate %}
                <article class="event-card">
                    <h2 class="event-title">{{ event.title }}</h2>
                    <p> Organisateur : {{ event.organisator.firstName }} {{ event.organisator.lastName }}</p>
                    <p> Catégorie : {{ event.category.name }}</p>
                    <p> Lieu : {{ event.place }}</p>
                    <p> Date de début : {{ event.startDate ? event.startDate|date('d/m/Y à H\\hi') : '' }}</p>
                    <p> Date de fin : {{ event.endDate|date('d/m/Y à H\\hi') }}</p>
                    <p> Évènement privé : {{ event.isPrivate ? 'Oui' : 'Non' }}</p>
                    <p> Participation financière : {{ event.isFinancialParticipation ? event.financialParticipationAmount : 'Non' }}</p>
                    <a href="{{ path('app_myevent_edit', {'id': event.id}) }}" aria-label="Modifier l'événement {{ event.title }}">Modifier</a>
                    <a href="{{ path('app_myevent_delete', {'id': event.id}) }}" aria-label="Supprimer l'événement {{ event.title }}">Supprimer</a>
                </article>
            {% endif %}
        {% endfor %}
        </div>
    </section>
</div>

{% endblock %}
