{% extends 'base.html.twig' %}

{% block title %}Tous les événements{% endblock %}

{% block body %}
<div class="custom-container ">
    <div class="events">
        <h1> Participer à de nouveaux événements </h1>
        <div class="event-cards">
        {% for event in events %}
            {% if not event.isPrivate %}
                <a href="{{ path('app_event_show', {'id': event.id}) }}">
                        <div class="event-card">
                            <h3 class="event-title">{{ event.title }}</h3>
                            <div> Organisé par {{event.organisator.firstName}} {{event.organisator.lastName}}</div>
                            {% if event.category.imageUrl %}
                                <img src="{{ event.category.imageUrl }}">
                            {% endif %}
                            <div class="event-description">
                                <p><strong> {{event.category.name}}</strong></p>
                                <p><i class="fas fa-map-marker-alt"></i> {{event.place}}</p>
                                <time> 
                                    <i class="fas fa-calendar-alt"></i> 
                                    Du {{ event.startDate ? event.startDate|date('d/m/Y à H\\hi') : '' }} 
                                    au {{ event.endDate|date('d/m/Y à H\\hi') }}
                                </time>
                            </div>
                        </div>
                    </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}