{% extends 'base.html.twig' %}

{% block title %}Détails de l'événement{{ parent() }}{% endblock %}

{% block body %}
<div class="custom-container">
    <h1>Détails de l'événement</h1>

    <p><strong>Titre :</strong> {{ event.title }}</p>
    <!-- Ajoutez ici d'autres informations de l'événement que vous souhaitez afficher -->
    {% if is_granted('IS_AUTHENTICATED_FULLY') and event.organisator == app.user %}
        <a href="{{ path('app_event_invite', {'id': event.id}) }}">Inviter un utilisateur</a>
    {% endif %}

    {% set canParticipate = false %}

    {# Si l'événement n'est pas privé ou si l'utilisateur a été invité mais n'a pas confirmé sa participation. #}
    {% if not event.isIsPrivate %}
        {% set canParticipate = true %}
    {% elseif existingRegistration and not existingRegistration.isHasConfirmed %}
        {% set canParticipate = true %}
    {% endif %}

    {% if canParticipate %}
        <a href="{{ path('app_event_participate', {'id': event.id}) }}" class="btn btn-primary">Participer</a>
    {% endif %}

    {% if event.isIsFinancialParticipation %}
        <h3>Montant total collecté : {{ event.totalAmountCollected }} €</h3>
        {% if app.user and event.isIsFinancialParticipation() %}
            <a href="{{ path('app_participation_contribute', { 'eventId': event.id }) }}" class="btn btn-primary">
                Contribuer à l'événement ({{ event.getFinancialParticipationAmount() }}€)
            </a>
        {% endif %}
    {% endif %}

</div>
{% endblock %}