{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}
{% block meta_title %}{{ event.title|e }}{% endblock %}
{% block meta_description %}Participez à l'événement {{ event.title|e }} - {{ event.category.name|e }} - organisé par {{ event.organisator.firstName|e }} {{ event.organisator.lastName|e }}{% endblock %}
{% block canonical %}
    <link rel="canonical" href="{{ url('app_event_show', {'id': event.id}) }}" />
{% endblock %}


{% block body %}
<div class="custom-container single-event">
    <header class="event-title">
        <h1>{{ event.title }}</h1>
        <p><i>Organisé par <strong>{{ event.organisator.firstName }} {{ event.organisator.lastName }}</strong></i></p>
    </header>

    <main aria-label="Détails de l'événement">
        {% if app.user == event.organisator %}
            <section class="event-management">
                {% include 'event/includes/_event-management.html.twig' %}
            </section>
        {% endif %}

        <section class="single-event-img">
            {% include 'event/includes/_event-image.html.twig' %}
        </section>

        <section class="event-participation">
            {% include 'event/includes/_event-participation.html.twig' %}
        </section>

        <section class="event-description">
            {% include 'event/includes/_event-description.html.twig' %}
        </section>

        {% if existingRegistration is not null and existingRegistration.isHasConfirmed %}
            <section class="event-financial-contribution">
                {% include 'event/includes/_event-financial-contribution.html.twig' %}
            </section>
        {% endif %}

        <section class="event-participant-list">
            {% include 'event/includes/_event-participant-list.html.twig' %}
        </section>

        {% if existingRegistration is not null and existingRegistration.isHasConfirmed %}
            <section class="event-comment">
                {% include 'event/includes/_event-comment.html.twig' %}
            </section>
        {% endif %}
    </main>
</div>
{% endblock %}