{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}
{% block meta_title %}{{ event.title|e }}{% endblock %}
{% block meta_description %}Participez à l'événement {{ event.title|e }} - {{ event.category.name|e }} - organisé par {{ event.organisator.firstName|e }} {{ event.organisator.lastName|e }}{% endblock %}
{% block canonical %}
    <link rel="canonical" href="{{ url('app_event_show', {'id': event.id}) }}" />
{% endblock %}


{% block body %}
<div class="custom-container single-event" aria-label="Détails de l'événement">
    <div class="event-title">
        <h1>{{ event.title }}</h1>
        <p><i>Organisé par <strong>{{event.organisator.firstName }} {{ event.organisator.lastName}}</strong></i></p>
    </div>

    {% if app.user == event.organisator %}
        <div class="event-management">
            {% include 'event/includes/_event-management.html.twig' %}
        </div>
    {% endif %}

    <div class="single-event-img">
        {% include 'event/includes/_event-image.html.twig' %}
    </div>

    <div class="event-participation">
        {% include 'event/includes/_event-participation.html.twig' %}
    </div>

    <div class="event-description">
        {% include 'event/includes/_event-description.html.twig' %}
    </div>

    {% if existingRegistration is not null and existingRegistration.isHasConfirmed %}
        <div class="event-financial-contribution">
            {% include 'event/includes/_event-financial-contribution.html.twig' %}
        </div>
    {% endif %}

    <div class="event-participant-list">
        {% include 'event/includes/_event-participant-list.html.twig' %}
    </div>

    {% if existingRegistration is not null and existingRegistration.isHasConfirmed %}
        <div class="event-comment">
            {% include 'event/includes/_event-comment.html.twig' %}
        </div>
    {% endif %}

</div>
{% endblock %}