{% extends 'base.html.twig' %}

{% block title %}Facilitez l'organisation de vos événements entre amis{% endblock %}

{% block body %}

<div class="custom-container">

    <h1>Facilitez l'organisation de vos événements entre amis</h1>
    
    {% if userevents is not empty %}
    <div class="myevents">
        <h2>MES EVENEMENTS</h2>
        <div class="event-cards">
            {% for userevent in userevents %}
            <div class="event-card">
                <a href="{{ path('app_event_show', {'id': userevent.id}) }}">
                    <h3>{{ userevent.title }}</h3>
                    <p> <i>Organisé par <strong>{{userevent.organisator.firstName}} {{userevent.organisator.lastName}}</strong></i></p>
                    {% if userevent.category.imageUrl %}
                        <img src="{{ userevent.category.imageUrl }}">
                    {% endif %}
                    <div> {{userevent.category.name}}</div>
                    <div> <i class="fas fa-map-marker-alt"></i> {{userevent.place}}</div>
                    <time> <i class="fas fa-calendar-alt"></i> Du {{ userevent.startDate ? userevent.startDate|date('j F Y H:i') : '' }} au {{ userevent.endDate|date(format = 'j F Y H:i') }} </time>
                </a>
                {% if app.user == userevent.organisator %}
                    <div class="event-management">
                        <a href="{{ path('app_myevent_delete', {'id': userevent.id}) }}" title="Supprimer">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a href="{{ path('app_myevent_edit', {'id': userevent.id}) }}" title="Modifier">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="events">
        <h2> Participer à de nouveaux événements </h2>
        <div class="event-cards">
        {% for event in events %}
            {% if not event.isPrivate %}
                <a href="{{ path('app_event_show', {'id': event.id}) }}">
                        <div class="event-card">
                            <h3>{{ event.title }}</h3>
                            <div> Organisé par {{event.organisator.firstName}} {{event.organisator.lastName}}</div>
                            {% if event.category.imageUrl %}
                                <img src="{{ event.category.imageUrl }}">
                            {% endif %}
                            <div> {{event.category.name}}</div>
                            <div> {{event.place}}</div>
                            <time> Du {{ event.startDate ? event.startDate|date('j F Y H:i') : '' }} </time>
                            <time> au {{ event.endDate|date('j F Y H:i') }} </time>
                        </div>
                    </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
