{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="custom-container">
    {% if userevents is not empty %}
    <h2>Mes événements</h2>
        {% for userevent in userevents %}
            <h3>{{ userevent.title }}</h3>
            <div>{{ userevent.startDate ? userevent.startDate|date('Y-m-d H:i:s') : '' }}</div>
            <div>{{ userevent.endDate ? userevent.endDate|date('Y-m-d H:i:s') : '' }}</div>
            <a href="{{ path('app_event_show', {'id': userevent.id}) }}">Voir les détails de l'événement</a>
        {% endfor %}
    {% endif %}

    <h2> Participer à de nouveaux événements </h2>
    {% for event in events %}
        {% if not event.isPrivate %}
            <h3>{{ event.title }}</h3>
            <div>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</div>
            <div>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</div>
            <a href="{{ path('app_event_show', {'id': event.id}) }}">Voir les détails de l'événement</a>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
