{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="custom-container">
    {% if userevents is not empty %}
    <div class="myevents">
        <h2>MES EVENEMENTS</h2>
            <div class="event-cards">
                {% for userevent in userevents %}
                <a href="{{ path('app_event_show', {'id': userevent.id}) }}">
                    <div class="event-card">
                        <h3>{{ userevent.title }}</h3>
                        <div> {{userevent.category.name}}</div>
                        <div> Organisé par {{userevent.organisator.firstName}} {{userevent.organisator.lastName}}</div>
                        <div> {{userevent.place}}</div>
                        <div> Du {{ userevent.startDate ? userevent.startDate|date('j F Y H:i') : '' }} </div>
                        <div> au {{ userevent.endDate|date(format = 'j F Y H:i') }} </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="events">
        <h2> Participer à de nouveaux événements </h2>
        <div class="event-cards">
        {% for event in events %}
            {% if not event.isPrivate %}
                <a href="{{ path('app_event_show', {'id': event.id}) }}">
                        <div class="event-card">
                            <h3>{{ event.title }}</h3>
                            <div> {{event.category.name}}</div>
                            <div> Organisé par {{event.organisator.firstName}} {{event.organisator.lastName}}</div>
                            <div> {{event.place}}</div>
                            <div> Du {{ event.startDate ? event.startDate|date('j F Y H:i') : '' }} </div>
                            <div> au {{ event.endDate|date('j F Y H:i') }} </div>
                        </div>
                    </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
