{% extends 'base.html.twig' %}

{% block title %}Friend Event Manager - Facilitez l'organisation de vos événements entre amis{% endblock %}
{% block meta_title %}Friend Event Manager - Facilitez l'organisation de vos événements entre amis{% endblock %}
{% block meta_description %}Créez et gérez vos événements entre amis facilement et découvrez de nouveaux événements autour de vous avec Friend Event Manager.{% endblock %}

{% block body %}

<div class="custom-container home-index">

    <h1>CRÉEZ VOTRE ÉVÉNEMENT EN QUELQUES CLICS</h1>
    
    <div class="add-new-event-link"><a href="{{ path('app_account_event_new') }}">Créer un événement</a></div>

    {% if userevents is not empty %}
    <div class="myevents">
        <div class="event-title">
            <h2>MES EVENEMENTS</h2>
            <a href="{{ path('app_account_myevents') }}" class="myevents-link"> Voir tous mes événements</a>
        </div>
        <div class="event-cards">
            {% for userevent in userevents %}
            <div class="event-card">
                <a href="{{ path('app_event_show', {'id': userevent.id}) }}">
                    <h3 class="event-title">{{ userevent.title }}</h3>
                    <p> <i>Organisé par <strong>{{userevent.organisator.firstName}} {{userevent.organisator.lastName}}</strong></i></p>
                    {% if userevent.category.imageUrl %}
                        <img src="{{ userevent.category.imageUrl }}" alt="{{ userevent.title }}">
                    {% endif %}
                    <div class="event-description">
                        <p><strong> {{userevent.category.name}}</strong></p>
                        <p> <i class="fas fa-map-marker-alt"></i> {{userevent.place}}</p>
                        <time> 
                            <i class="fas fa-calendar-alt"></i> 
                            Du {{ userevent.startDate ? userevent.startDate|date('d/m/Y à H\\hi') : '' }} 
                            au {{ userevent.endDate|date('d/m/Y à H\\hi') }}
                        </time>
                    </div>
                </a>
                {% if app.user == userevent.organisator %}
                    <div class="event-management">
                        <a href="{{ path('app_myevent_delete', {'id': userevent.id}) }}" title="Supprimer">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a href="{{ path('app_myevent_edit', {'id': userevent.id}) }}" title="Modifier">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="events">
        <div class="event-title">
            <h2> Participer à de nouveaux événements </h2>
            <a href="{{ path('app_event') }}" class="event-link"> Tous les événements</a>
        <div>
        <div class="event-cards">
        {% for event in events %}
            {% if not event.isPrivate %}
                <a href="{{ path('app_event_show', {'id': event.id}) }}">
                        <div class="event-card">
                            <h3 class="event-title">{{ event.title }}</h3>
                            <div> Organisé par {{event.organisator.firstName}} {{event.organisator.lastName}}</div>
                            {% if event.category.imageUrl %}
                                <img src="{{ event.category.imageUrl }}" alt="{{ event.title }}"">
                            {% endif %}
                            <div class="event-description">
                                <p><strong> {{event.category.name}}</strong></p>
                                <p><i class="fas fa-map-marker-alt"></i> {{event.place}}</p>
                                <time> 
                                    <i class="fas fa-calendar-alt"></i> 
                                    Du {{ event.startDate ? event.startDate|date('d/m/Y à H\\hi') : '' }} 
                                    au {{ event.endDate|date('d/m/Y à H\\hi') }}
                                </time>
                            </div>
                        </div>
                    </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="app-description">{% include 'home/_description.html.twig' %}</div>

</div>

{% endblock %}
