<h2>{{event.category.name}}</h2>
<p>
    <span class="visually-hidden">Lieu :</span>
    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
    {{event.place}}
</p>
<time datetime="{{ event.startDate|date('Y-m-dTH:i') }}">
    <span class="visually-hidden">Date et heure de début :</span>
    <i class="fas fa-calendar-alt" aria-hidden="true"></i>
    Du {{ event.startDate ? event.startDate|date('d/m/Y à H\\hi') : 'Date à déterminer' }}
</time>
<time datetime="{{ event.endDate|date('Y-m-dTH:i') }}">
    <span class="visually-hidden">Date et heure de fin :</span>
    au {{ event.endDate|date('d/m/Y à H\\hi') }}
</time>